@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700');

:root {
  --primary: #ffee1f;
  --primary-light: #f8f19d;
  --primary-dark: #ebd808;

  --white: #fff;
  --black: #111;

  --font: 'Source Code Pro', monospace;
  --font-light: 300;
  --font-bold: 700;
}

* {
  outline: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #f7f7f7;
  font-family: var(--font);  
  font-weight: var(--font-light);  
}

i {
  position: relative;
  bottom: 0px;
}

.header {
  background: linear-gradient(45deg, var(--primary-light), var(--primary), var(--primary-dark));
  padding:  1em 3em;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column wrap;
  align-items: center;
  justify-content: space-between;
  color: #000;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.header h3 {
  font-family: var(--font);
  font-weight: var(--font-bold);  
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

.header .nav {
  display: inline-flex;
  list-style-type: none;
}

.header .nav .nav-item  {
  margin: 0 20px;
  font-weight: var(--font-bold);
  cursor: pointer;
  opacity: 0.45;
}

.header .nav .nav-item:hover  {
  opacity: 1;
}

.repo-category {
  margin: 70px 35px;
}

.repo-category:first-child {
  margin: 35px;
}

.repo-category .category-title {
  position: relative;
  background-color: var(--primary);
  width: 50px;
  height: 50px;
  padding: 1em;
}

.repo-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 15px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  animation: .45s ease-in-out 0s fadeInUp; 
}

.repo-list h3 {
  margin: 0;
  color: black;
}

.repo-list p {
  color: #777;
}

.repo-list .repo-item {
  cursor: pointer;
  background-color: white;
  padding: 1.5em 1em;
  border-radius: 5px;
  margin: 0;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  transform: translateY(0px);
}

.repo-list .repo-item .repo-stats {
    list-style-type: none;
    margin: 0;
    font-weight: var(--font-bold);
    padding: 0;
}

.repo-stats .repo-stat {
    margin: 5px 0;
}

.repo-list .repo-item .repo-stats .repo-stat p {
  vertical-align: middle;
  line-height: 1;
}

.repo-list .repo-item:hover {
  transform: translateY(-8px);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.dialog-container {
  margin-bottom: 20px; 
}

.dialog-container .repo-avatar {
  padding: 0;
  vertical-align: middle;
  margin-right: 10px;
  width: 10%;
  border-radius: 100%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.dialog-container .repo-link {
  background-color: black;
  color: #ffee1f;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: .8em;
  margin: 10px 0 20px 0;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.dialog-container .repo-description {
  margin-bottom: 30px;
}

.dialog-container .repo-stats {
  margin-top: 20px;
  padding: 10px 0;
  list-style-type: none;
}

.dialog-container .repo-stats .repo-stat {
  margin: 0;
  vertical-align: middle;
  line-height: 1.5;
  font-weight: 700;
  padding: 5px 0;
}

.dialog-container .repo-git_url {
  padding: .7em;
  margin-top: 20px;
  color: #777;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 3px;
}

.dialog-container .copy-clipboard a {
  color: #777;
  text-decoration: none;
}

.pagination {
  list-style: none;
  display: inline-flex;
  margin: 20px 0;
  padding: 20px 0;
}


.pagination .pagination-item a , .pagination .pagination-next a, .pagination .pagination-prev a {
  color: #777;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 3px;
  padding: .5em;
  margin: 0px 5px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.pagination .pagination-active a {
  color: #222;
  font-weight: 700;
  background-color: #ebd808;
  text-decoration: none;
  border: 2px solid transparent;
  border-radius: 3px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
} 

.pagination .pagination-disabled a {
  opacity: 0.4;
}


.btn {
  font-family: 'Montserrat', sans-serif;  
  padding: 10px 20px;
  text-align: center;
  margin: 0;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  cursor: pointer;
}

.btn:hover {
  opacity: 0.7;
}

.btn-primary {
  font-weight: 700;
  padding: 5px 20px;
  text-decoration: none;
  background-color: orange;
  color: white;
} 

input[type="text"] {
  font-family: var(--font);
  width: 32vw;
  margin: 0;
  border-radius: 3px;
  background-color: #fff;
  color: #777;
  border: 2px solid white;
  padding: 1em;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

input[type="text"]::input-placeholder { 
  color: #777;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .repo-list {
    grid-template-columns: 1fr;
  }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .repo-list {
    grid-template-columns: 1fr 1fr;
  }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .repo-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Keyframes for animations */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  
  0% {
    transform: translateY(15px);
    transition:  all 0.15s cubic-bezier(.25,.8,.25,1);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    transition:  all 0.15s cubic-bezier(.25,.8,.25,1);
    opacity: 1;
  }
}


@keyframes fadeInUp2 {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
